body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(235, 235, 235);
}
header {

    background-color: rgb(49, 49, 49);
    text-align: center;
    color: white;
    font-weight: bolder;
    padding: 20px;
}

.background {
    background-color: white;
}

p {
    font-size: large;
}